.home{height:184px;}
.home .search .search_word.n2{margin:7px 0 0 12px; padding-left:113px;}
.home .search .search_word.n2 .word_title:before{left: 2px;}

@media all and (max-width:1000px){
    .home{height:80px;}
	}
@media all and (max-width:640px){
    .home{height:50px;}
	}


@media all and (min-width:1001px){

	/*.home{height:190px;}*/
	/*#container{margin-top:296px;}*/

	/* 메뉴 */
	.lnb .menu .depth1_list{margin-right:310px; text-align:center;}
	.lnb .menu .depth2_content{min-height:350px;}

	/* 2차 메뉴 - 분야별정보 */
	.lnb .menu .depth1_item.n6 .depth2_content{padding-top:10px; padding-left:180px;}
	.lnb .menu .depth1_item.n6 .depth2_content:before{display:block; position:absolute; top:0; left:180px; bottom:0; width:100vw; background-color:#f4f5f9;}
	.lnb .menu .depth1_item.n6 .depth2_info{position:absolute; top:0; left:0; bottom:0; width:180px; padding-top:220px; background:url('../images/common/infopart_bg.png') no-repeat left 35px;}
	.lnb .menu .depth1_item.n6 .depth2_info:before{}
	.lnb .menu .depth1_item.n6 .depth2_slogan{color:#7d7d7d; font-size:15px; text-align:center; line-height:20px;}
	.lnb .menu .depth1_item.n6 .depth2_list{text-align:center;}
	.lnb .menu .depth1_item.n6 .depth2_item{display:inline-block; width:14.28%;}
	.lnb .menu .depth1_item.n6 .depth2_text{display:block; width:105px; margin-right:auto; margin-left:auto; padding:0; border:none; color:#444; font-size:16px;}
	.lnb .menu .depth1_item.n6 .depth2_text:before{display:block; width:100%; height:85px; margin-bottom:12px; border:1px solid #e5e7ee; border-radius:20px; background-color:#fff;}
	.lnb .menu .depth1_item.n6 .depth2_text:after{display:block; position:absolute; top:18px; left:0; right:0; bottom:auto; width:52px; height:50px; margin-right:auto; margin-left:auto; background-image:url('../images/common/infopart_sprite1.png'); background-repeat:no-repeat;}
	.lnb .menu .depth1_item.n6 .n1 .depth2_text:after{background-position:left top;}
	.lnb .menu .depth1_item.n6 .n2 .depth2_text:after{background-position:left -50px;}
	.lnb .menu .depth1_item.n6 .n3 .depth2_text:after{background-position:left -100px;}
	.lnb .menu .depth1_item.n6 .n4 .depth2_text:after{background-position:left -150px;}
	.lnb .menu .depth1_item.n6 .n5 .depth2_text:after{ background-position:left -500px;}
	.lnb .menu .depth1_item.n6 .n6 .depth2_text:after{ background-position:left -300px;}
	.lnb .menu .depth1_item.n6 .n7 .depth2_text:after{background-position:left -200px;}
	.lnb .menu .depth1_item.n6 .n8 .depth2_text:after{background-position:left -350px;}
	.lnb .menu .depth1_item.n6 .n9 .depth2_text:after{background-position:left -400px;}
	.lnb .menu .depth1_item.n6 .n10 .depth2_text:after{background-position:left -450px;}
	.lnb .menu .depth1_item.n6 .n11 .depth2_text:after{background-position:left -550px;}
	.lnb .menu .depth1_item.n6 .n12 .depth2_text:after{background-position:left -250px;}
	.lnb .menu .depth1_item.n6 .n13 .depth2_text:after{background-position:left -600px;}
	.lnb .menu .depth1_item.n6 .n14 .depth2_text:after{background-position:left -650px;}
	.lnb .menu .depth1_item.n6 .depth3{display:none;}

	/* 상단 알림 */
	html.notice_open #header{padding-top:60px;}
	html.notice_open #container{margin-top:211px;}
	html.notice_open .home .search:before{top:211px;}
}
@media all and (min-width:1000px) and (max-width:1400px){
	/* 메뉴 */
	.lnb .menu .depth1_list{margin-right:180px;}
}

/* 하단 정보, 콜센터 */

/*#footer .logo{padding-right:70px;}*/
#footer .footer_call{right:290px;}
@media all and (max-width:1400px){
	#footer .info .info_tel{display:block;}
	#footer .footer_call{right:120px;}
}
@media all and (max-width:1000px){
	#footer .logo{margin-right:240px; margin-bottom: 10px;}
	#footer .footer_call{right:0;}
}
@media all and (max-width:640px){
	#footer .logo{margin-right:180px;}
	#footer .footer_call .call_info2 {display:block;}
}
/*@media all and (max-width:640px){
	#footer{padding-bottom:30px;}
	#footer .logo{display:block; text-align:center;}
	#footer .logo img{height:30px;}
	#footer .info{display:block; margin-top:20px; margin-left:0; font-size:12px; text-align:center; line-height:20px;}
	#footer .info_text{margin-top:10px; font-size:12px; line-height:18px;}
}*/




/* 하단 접근성마크 */
#footer .wa{transition-property:all;transition-duration:0.25s;transition-timing-function:linear;}
#footer .wa{position:absolute; top:-10px; right:160px; transition-property:right;}
#footer .wa_image{width:106px;}
@media all and (max-width:1400px){
	#footer .wa{top:-25px; right:14px;}
	#footer .wa_image{width:70px;}
}
@media all and (max-width:1000px){
	#footer .wa{top:-5px; width:100%; padding-left:60px; text-align:center;}
	#footer .wa_image{width:70px;}
}
@media all and (max-width:640px){
	#footer .wa{top:5px; width:100%; padding-left:10px; text-align:center;}
	#footer .wa_image{width:54px;}
	
}


/* 하단 태극기 상징 */
#footer .taegugki{position:absolute; top:-10px; right:0; text-align:center; width:160px;}
#footer .taegugki img {margin-bottom:5px;}
#footer .taegugki .taegugki_text {margin-top:10px; color:#515151; font-size:14px; line-height:15px; font-family:'HanamB'; letter-spacing:-1px; display:block;}
@media all and (max-width:1400px){
	#footer .taegugki{top:40px; right:-27px; width:147px;}
	#footer .taegugki .taegugki_text {font-size:12px; line-height:13px; margin-top:2px;} 
}
@media all and (max-width:1000px){
	#footer .taegugki{top:-12px; width:100%; padding-left:210px; text-align:center;}
		#footer .taegugki img {width:44px;}
}
@media all and (max-width:640px){
	#footer .taegugki{top:-12px; padding-left:140px;}
}


/* 유동적 메뉴 */
@media all and (min-width:1001px){
	/* depth1~3 */
	.lnb .menu .depth1_item.n1 .depth2_item,
	.lnb .menu .depth1_item.n2 .depth2_item,
	.lnb .menu .depth1_item.n3 .depth2_item{float:left;}
	.lnb .menu .depth1_item.n1 .depth2_item.wide,
	.lnb .menu .depth1_item.n2 .depth2_item.wide,
	.lnb .menu .depth1_item.n3 .depth2_item.wide{width:40%;}
	.lnb .menu .depth1_item.n1 .depth2_item.wide .depth3_item,
	.lnb .menu .depth1_item.n2 .depth2_item.wide .depth3_item,
	.lnb .menu .depth1_item.n3 .depth2_item.wide .depth3_item{width:50%;}
	/* depth1 */
	.lnb .menu .depth1_item.n1 .depth2_item.wide{width:20%;}
	.lnb .menu .depth1_item.n1 .depth2_item.wide .depth3_item{width:100%;}
	/* depth2 */
	.lnb .menu .depth1_item.n1 .depth2_item:nth-child(1){min-height:280px;}
	.lnb .menu .depth1_item.n1 .depth2_item:nth-child(2){min-height:280px;}
	.lnb .menu .depth1_item.n1 .depth2_item:nth-child(3){min-height:280px;}
	.lnb .menu .depth1_item.n1 .depth2_item:nth-child(4){min-height:280px;}
	.lnb .menu .depth1_item.n1 .depth2_item:nth-child(5){min-height:280px;}
	.lnb .menu .depth1_item.n1 .depth2_item:nth-child(7){min-height:280px;}
	/*.lnb .menu .depth1_item.n1 .depth2_item:nth-child(7){width:40%;}
	.lnb .menu .depth1_item.n1 .depth2_item:nth-child(7) .depth3_item{width:50%;} */
	.lnb .menu .depth1_item.n2 .depth2_item:nth-child(1){min-height:270px;}
	.lnb .menu .depth1_item.n2 .depth2_item:nth-child(2){min-height:270px;}
	.lnb .menu .depth1_item.n2 .depth2_item:nth-child(3){min-height:270px;}
	.lnb .menu .depth1_item.n2 .depth2_item:nth-child(4){min-height:270px;}
	.lnb .menu .depth1_item.n2 .depth2_item:nth-child(5){min-height:270px;}
	/* depth3 */
	.lnb .menu .depth1_item.n3 .depth2_item:nth-child(3){min-height:290px;}
	.lnb .menu .depth1_item.n3 .depth2_item:nth-child(4){min-height:290px;}
	.lnb .menu .depth1_item.n3 .depth2_item:nth-child(5){min-height:290px;}
	.lnb .menu .depth1_item.n3 .depth2_item:nth-child(6){min-height:220px;}
	.lnb .menu .depth1_item.n3 .depth2_item:nth-child(7){min-height:220px;}
	.lnb .menu .depth1_item.n3 .depth2_item:nth-child(6){width:40%;}
	.lnb .menu .depth1_item.n3 .depth2_item:nth-child(6) .depth3_item{width:50%;} 
}
@media all and (min-width:1001px) and (max-width:1400px){
	.lnb .menu .depth2_item{width:25%;}
	.lnb .menu .depth1_item.n1 .depth2_item.wide,
	.lnb .menu .depth1_item.n2 .depth2_item.wide,
	.lnb .menu .depth1_item.n3 .depth2_item.wide{width:50%;}
	.lnb .menu .depth1_item.n1 .depth2_item.wide .depth3_item{width:50%;}
	.lnb .menu .depth1_item.n1 .depth2_item:nth-child(4){min-height:50px;}
	.lnb .menu .depth1_item.n1 .depth2_item:nth-child(5){min-height:50px;}
	.lnb .menu .depth1_item.n1 .depth2_item:nth-child(6){min-height:150px;}
	/*.lnb .menu .depth1_item.n1 .depth2_item:nth-child(7){width:25%;}
	.lnb .menu .depth1_item.n1 .depth2_item:nth-child(7) .depth3_item{width:100%;} */
	.lnb .menu .depth1_item.n2 .depth2_item:nth-child(5){min-height:160px;}
	.lnb .menu .depth1_item.n2 .depth2_item:nth-child(6){min-height:160px;}
	.lnb .menu .depth1_item.n2 .depth2_item:nth-child(7){min-height:160px;}
	.lnb .menu .depth1_item.n2 .depth2_item:nth-child(8){min-height:160px;}

	.lnb .menu .depth1_item.n3 .depth2_item:nth-child(1){width:25%;}
	.lnb .menu .depth1_item.n3 .depth2_item:nth-child(1) .depth3_item{width:100%;}
	.lnb .menu .depth1_item.n3 .depth2_item:nth-child(6){width:25%;}
	.lnb .menu .depth1_item.n3 .depth2_item:nth-child(6) .depth3_item{width:100%;}
	.lnb .menu .depth1_item.n3 .depth2_item:nth-child(7){width:25%;}
	.lnb .menu .depth1_item.n3 .depth2_item:nth-child(7) .depth3_item{width:100%;}
	/*.lnb .menu .depth1_item.n3 .depth2_item:nth-child(6){width:50%;} */
}
